* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #FF9A4B;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-step {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}

.main-step:last-child {
  margin-right: 0;
}

.img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-number {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: white;
}

.title {
  margin: 15px 0 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .main-step{
    width: 90%;
    /* margin-bottom: 20px;
    margin-right: 0;
     */
     margin: 0 auto 20px;
  }

  .main-step:last-child {
    padding-bottom: 0;
    margin: 0 auto 0px;
  }


}